  <div class="contents row">
    <%= form_tag("/posts/#{@post.id}", method: :patch ) do %>
      <h3>
        編集する
      </h3>
      <textarea cols="30" name="text" placeholder="ここに入力してください" rows="10"><%= @post.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>